<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-item-hide">

  <!-- Chats Tab -->
  <ion-tab title="Reportar bache" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" ui-sref="tab.report-incident">
    <ion-nav-view name="tab.report-incident"></ion-nav-view>
  </ion-tab>

</ion-tabs>
